{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="shortcut icon" type="image/png" href="{% static 'favicon.png' %}" >
  <script src="//unpkg.com/alpinejs" defer></script>
  <script src="https://cdn.tailwindcss.com"></script>
  <title>books</title>
</head>
<body class="bg-gray-200">
  
  {% block content %}
  {% endblock content %}

 

  <script>
    document.addEventListener("DOMContentLoaded", function() {
      // Pilih semua paragraf yang dihasilkan oleh CKEditor
      const ckeditorContent = document.querySelectorAll('.ckeditor-content p');
  
      // Tambahkan kelas Tailwind ke setiap paragraf
      ckeditorContent.forEach((p) => {
          p.classList.add('inline-block', 'mb-0');
      });
  });
  


  </script>


  
</body>
</html>